*{
    padding: 0;
    margin: 0;
}
header{
    
}
.projects{
    z-index: 2;
    display: inline;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 19px;
    opacity: 0.6;
    align-items: stretch;
    justify-content: space-evenly !important;
    text-align: right;
}
.resume{
    text-align: center;
    text-decoration: none;
}
.resume:hover{
    text-shadow: 4px 16px 7px blue;
}

.about{
    word-break: break-word;
    text-align: center;
}